.country-filter {
  font-family: @main-font;
  padding: 20px 27px 25px;
  color: #192144;
  text-transform: uppercase;
  background-color: #e2e5f2;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  margin-top: -20px;
  position: relative;
}
.country-filter__title {
  font-size: 16px;
  padding-left: 26px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 34px;
  position: relative;
  &::before {
    content: "";
    width: 15px;
    height: 10px;
    background-image: url(../img/filter.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 7px;
    left: -2px;
  }
}
.country-filter__button {
  background-color: inherit;
  border: none;
  position: relative;
  width: auto;
  padding: 0;
  cursor: pointer;
  outline: none;
  span {
    display: none;
    padding: 0;
    margin: 0;
    font-family: @main-font;
    font-size: 16px;
    text-transform: uppercase;
    color: #192144;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
.country-filter__button--open {
  display: none;
  position: absolute;
  top: 37px;
  right: 4px;
  &::before {
    width: 17px;
    height: 3px;
    background-image: url(../img/dots.svg);
    top: 4px;
    right: 40px;
  }
}
.country-filter__button--close {
  background-color: #e2e5f2;
  &::before {
    width: 12px;
    height: 12px;
    background-image: url(../img/filter-close.svg);
    top: -167px;
    right: -261px;
  }
}
.country-filter__button--close-bottom {
  margin-top: auto;
  background-color: #d6daed;
  border: none;
  position: relative;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  span {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 22px;
    margin: 0;
    font-family: @main-font;
    font-weight: 700;
    font-size: 16.5px;
    text-transform: uppercase;
    color: #192144;
    display: block;
    &:active {
      color: rgba(29, 46, 91, 0.3);
      &::before {
        opacity: 0.3;
      }
    }
    &::before {
      content: "";
      position: absolute;
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      background-image: url(../img/filter-close.svg);
      top: 14px;
      left: 83px;
    }
  }
  &:hover {
    background-color: #c8cee8;
  }
}
@media (min-width: 768px) {
  .country-filter__wrapper {
    display: flex;
    padding: 34px 50px 50px 47px;
  }
  .country-filter {
    padding-bottom: 75px;
    padding-top: 70px;
    margin-top: -50px;
    border-radius: 0 0 60px 60px;
  }
  .country-filter__title {
    display: none;
  }
  .country-filter__button--close {
    display: block;
    padding-right: 70px;
    span {
      display: block;
      font-size: 20px;
      margin-top: 3px;
      margin-right: 14px;
      font-weight: 700;
    }
    &::before {
      width: 18px;
      height: 18px;
      top: 5px;
      left: auto;
      right: 0;
    }
  }
  .country-filter__button--close-bottom {
    width: 618px;
    margin: 0 auto;
    padding-top: 29px;
    padding-bottom: 28px;
    span {
      font-size: 20px;
      font-weight: 700;
      padding-left: 35px;
      &::before {
        width: 18px;
        height: 18px;
        top: 42px;
        left: 244px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .country-filter {
    padding: 57px 60px 20px 60px;
    height: auto;
    margin-top: -50px;
  }
  .country-filter__title {
    display: block;
    font-size: 20px;
    margin-right: 38px;
    padding-left: 18px;
    &::before {
      width: 23px;
      height: 15px;
      top: 3px;
      left: -25px;
    }
  }
  .country-filter__wrapper {
    padding-bottom: 28px;
  }
  .country-filter__button--close {
    padding-right: 85px;
    margin-top: -17px;
    &::before {
      top: 36px;
      left: auto;
      right: 18px;
    }
  }
  .country-filter__button--close-bottom {
    width: 100%;
    span {
      &::before {
        left: 594px;
      }
    }
  }
}
