.main-nav__toggle {
  padding: 0;
  margin: 2px 0 0 145px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    margin: 2px -25px 0 0;
  }
  .main-nav__toggle--closed {
    width: 19px;
    height: 19px;
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.1;
    }
  }
}
