.page-footer {
  background-color: white;
  border-radius: 20px 20px 0 0;
  position: relative;
  margin-top: -50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 42px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
}
.page-footer--inner, .page-footer--pageform {
  top: 0;
}
.page-footer__copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .page-footer {
    border-radius: 50px 50px 0 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 49px 40px;
  }
  .page-footer__copyright {
    justify-content: flex-end;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    padding: 50px 60px;
  }
}
