.plan-addition {
  margin-top: -23px;
  position: relative;
  z-index: 2;
  border-radius: 30px 30px 0 0;
  background-color: #d4d9eb;
  padding: 25px;
  padding-top: 25px;
  color: #1d2e5b;
  padding-bottom: 80px;
}
.addition-title {
  font-size: 24px;
  color: #1d2e5b;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  box-sizing: border-box;
}
.step {
  background-color: white;
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 21px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.step-two {
  .plan-nav {
    display: none;
  }
}
.step-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
}
.plan-nav {
  display: flex;
  width: 48px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 6px;
  position: absolute;
  top: 38px;
  right: 43px;
}
.plan-nav__item {
  text-transform: uppercase;
  opacity: 0.3;
  list-style: none;
  width: 6px;
  height: 6px;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1d2e5b;
  }
  p {
    display: none;
  }
}
.plan-nav__item--active {
  opacity: 1;
}
.step-instruction {
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  line-height: 1.4;
}
.parametr-choice {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  box-sizing: border-box;
  span {
    margin-left: auto;
    margin-bottom: 9px;
    opacity: 0.3;
    letter-spacing: 1px;
  }
  b {
    margin-bottom: 8px;
    letter-spacing: 1px;
  }
}
.switch {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #cbced9;
  background-color: #ffffff;
  padding: 11px 14px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 18px;
  input {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 20px;
    width: 12px;
    height: 21px
  }
}
.switch-button {
  border: none;
  background-color: inherit;
  background-image: url(../img/qty-minus-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 19px;
  cursor: pointer;
  opacity: 0.3;
  box-sizing: border-box;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.1;
  }
}
.more {
  background-image: url(../img/qty-plus-mobile.svg);
}
.children-possible {
  cursor: pointer;
  margin-bottom: 25px;
  label {
    cursor: pointer;
    position: relative;
    margin-left: 39px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    margin-top: 5px;
    display: block;
    &:hover {
      &::before {
        border: solid 1px #959bb2;
      }
    }
    &:active {
      &::before {
        opacity: 0.3;
        background-color: #959bb2;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: -39px;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: solid 1px #cbced9;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
  input[type=checkbox]:checked + label {
    &::before {
      background-image: url(../img/tick.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9px 9px;
    }
  }
}
.calendar {
  width: 100%;
}
.month-swith {
  border-top: 1px solid #d4d9eb;
  border-bottom: 1px solid #d4d9eb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.month-name {
  font-size: 20px;
  font-weight: 700;
  color: #1d2e5b;
  margin-top: 10px;
  margin-bottom: 8px;
}
.month-btn {
  border: none;
  background-color: inherit;
  width: 9px;
  height: 17px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.month-back {
  background-image: url(../img/month-arrow-left.svg);
}
.month-forward {
  background-image: url(../img/month-arrow-right.svg);
}
.calendar-table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  margin-bottom: 25px;
  tr {
    padding: 0;
    margin: 0;
  }
  th {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    height: 30px;
    padding-left: 3px;
    b {
      display: none;
    }
  }
  td {
    width: 30px;
    height: 31px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #d4d9eb inset;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  .date-selected {
    box-shadow: 0 0 0 2px #ff5c23 inset;
  }
}
.date-disabled {
  color: rgba(68, 68, 68, 0.3);
}
.date-active {
  color: white;
  background-color: #1d2e5b;
  &:hover {
    box-shadow: 0 0 0 2px #ff5c23 inset;
  }
}
.date-selected {
  box-shadow: 0 0 0 2px #ff5c23 inset;
}
.date-possible {
  background-color: #edeff6;
  &:hover {
    box-shadow: 0 0 0 2px #ff5c23 inset;
  }
}
.button-small {
  text-transform: uppercase;
  padding-top: 3px;
  height: 40px;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  color: #161c35;
  background-color: #ffd74b;
  border: none;
  border-radius: 20px;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: #ffbd30;
  }
  &:active {
    color: rgba(29, 46, 91, 0.3);
    &::before {
      opacity: 0.3;
    }
  }
}
.previous-step-button {
  background-color: inherit;
  text-align: center;
  width: 100%;
  display: block;
  order: 3;
  &:hover {
    background-color: inherit;
    opacity: 0.6;
  }
}
.country-selector {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  margin-bottom: 24px;
  &::after {
    content: '';
    position: absolute;
    top: 21px;
    right: 48px;
    width: 8px;
    height: 8px;
    background-color: #1d2e5b;
    border-radius: 50%;
    z-index: 2;
  }
}
.country-selected {
  width: 100%;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding: 12px 20px 6px 10px;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  p {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 135px;
    max-height: 20px;
    word-wrap: normal;
    letter-spacing: 1.5px;
  }
  span {
    display: none;
  }
  &::before {
    content: '';
    position: absolute;
    top: 6px;
    right: 13px;
    width: 12px;
    height: 7px;
    background-image: url(../img/dropdown-form.svg);
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-color: white;
    height: 100%;
    box-shadow: 0 0 15px 15px white;
    cursor: pointer;
  }
  &:hover {
    border: solid 1px #959bb2;
  }
}
.popup-selected {
  &:hover {
    border: none;
  }
}
.country-select-popup-closed {
  display: none;
}
.step-two {
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
  .button-small {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
.selector-flag {
  width: 67px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-left: none;
  border-radius: 4px;
  padding: 7px;
  margin-top: 5px;
}
.flag {
  width: 35px;
  height: 24px;
  border-radius: 4px;
  background-color: grey;
  svg {
    width: 100%;
    height: 100%;
  }
}
.selector-close {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 21px;
  height: 21px;
  background-color: #edeff6;
  border-radius: 50%;
  border: none;
  background-image: url(../img/small-cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  cursor: pointer;
}
.country-selector-select {
  .selector-flag {
    display: none;
  }
  &::after {
    width: 6px;
    height: 6px;
    background-color: white;
    border: 1px solid #cbced9;
  }
}
.country-selector-add {
  .selector-flag {
    display: none;
  }
  .selector-close {
    display: none;
  }
  &::after {
    width: 6px;
    height: 6px;
    background-color: #edeff6;
    border: 1px solid #cbced9;
  }
  .country-selected {
    border: none;
    background-color: #edeff6;
    &::before {
      width: 14px;
      background-image: url(../img/qty-plus.svg);
      background-position: 0 6px;
      background-repeat: no-repeat;
      background-color: #edeff6;
      box-shadow: 0 0 0 0 white;
      cursor: pointer;
    }
  }
}
.fun-plan {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  .flag {
    margin-left: auto;
    box-shadow: 0 0 8px 21px white;
    svg {
      margin-left: auto;
    }
  }
}
.fun-country {
  font-size: 18px;
  padding-left: 12px;
  margin-bottom: 16px;
}
.fun-discription {
  width: 220px;
  height: 194px;
  border-radius: 4px;
  border: solid 1px #cbced9;
  font-size: 16px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.3);
  padding: 15px;
  padding-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  resize: none;
  outline: none;
  &:hover {
    border: solid 1px #959bb2;
  }
  &:active, &:focus {
    border: solid 1px #161c35;
    color: #444444;
  }
}
.fun-point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1d2e5b;
  position: absolute;
  top: 24px;
  left: 0;
  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -14px;
    width: 15px;
    height: 2px;
    background-color: #1d2e5b;
  }
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -14px;
    width: 2px;
    height: 284px;
    background-color: #1d2e5b;
  }
}
.last-plan {
  .fun-point {
    &::after {
      display: none;
    }
  }
}
.step-three {
  padding-bottom: 0px;
  .plan-nav {
    display: none;
  }
  .step-instruction {
    margin-bottom: 0px;
  }
  .button-small {
    margin-top: 13px;
  }
}
@media (min-width: 768px) {
  .plan-addition {
    padding: 45px 75px;
    margin-top: -28px;
  }
  .addition-title {
    font-size: 36px;
    margin-bottom: 56px;
  }
  .step {
    padding: 42px 43px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-bottom: 26px;
  }
  .step-title {
    font-size: 36px;
  }
  .plan-nav {
    width: 73px;
    top: 65px;
    right: 75px;
  }
  .step-instruction {
    font-size: 20px;
    padding-bottom: 42px;
    padding-top: 10px;
    border-bottom: solid 1px #cbced9;
    position: relative;
    line-height: 1.2;
  }
  .step-two {
    .step-instruction {
      padding-right: 145px;
      padding-bottom: 37px;
      margin-bottom: 41px;
      &::before {
        content: '';
        width: 2px;
        height: 370px;
        background: linear-gradient(to bottom, #cbced9, #fff);;
        position: absolute;
        bottom: -370px;
        right: 135px;
        z-index: 2;
      }
    }
  }
  .parametr-choice {
    font-size: 20px;
    margin-bottom: 11px;
    b {
      margin-bottom: 22px;
      letter-spacing: 1.5px;
    }
    span {
      letter-spacing: 2px;
    }
  }
  .switch {
    padding-top: 22px;
    padding-bottom: 23px;
  }
  .switch-button {
    width: 30px;
    height: 22px;
    background-image: url(../img/qty-minus.svg);
  }
  .more {
    background-image: url(../img/qty-plus.svg);
  }
  .duration {
    order: 2;
  }
  .children-possible {
    padding-bottom: 35px;
    margin-bottom: 19px;
    border-bottom: solid 1px #cbced9;
    label {
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 500;
      color: #1d2e5b;
      text-transform: uppercase;
      margin-left: 59px;
      margin-top: 0;
      &::before{
        width: 34px;
        height: 34px;
        top: -4px;;
        left: -58px;
      }
    }
  }
  .duration {
    margin-bottom: 41px;
  }
  .calendar {
    order: 2;
    margin-bottom: 17px;
  }
  .month-name {
    font-size: 36px;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .month-btn {
    width: 21px;
    height: 34px;
  }
  .month-swith {
    padding-left: 17px;
    padding-right: 14px;
    box-sizing: border-box;
    margin-bottom: 32px;
  }
  .button-wrapper {
    display: flex;
    align-items: baseline;
  }
  .next-step-button {
    order: 2;
    width: 285px;
    height: 80px;
    font-size: 24px;
    text-align: left;
    padding-left: 35px;
    text-transform: none;
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 14px;
      top: 32px;
      right: 31px;
      background-image: url(../img/triangle-arrow-button.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  .previous-step-button {
    width: auto;
    margin-left: auto;
    text-transform: none;
    font-size: 24px;
    position: relative;
    margin-bottom: 5px;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 14px;
      top: 8px;
      left: -36px;
      background-image: url(../img/triangle-arrow-left.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  .step-two {
    padding-bottom: 48px;
    margin-bottom: 50px;
    .next-step-button {
      margin-top: 40px;
    }
  }
  .calendar-table {
    th {
      font-size: 18px;
      b {
        display: inline;
      }
    }
    td {
      height: 70px;
      font-size: 20px;
    }
  }
  .country-selector {
    font-size: 20px;
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 18px;
    &::after {
      width: 15px;
      height: 15px;
      top: 27px;
      right: 127px;
    }
  }
  .country-selected {
    padding: 22px 30px 16px 25px;
    border-color: #cbced9;
    width: 369px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    p {
      max-width: none;
      letter-spacing: 2px;
    }
    span {
      display: inline;
    }
    &::before {
      background-position: 0;
      width: 17px;
      right: 29px;
      height: 17px;
      top: 27px;
    }
  }
  .selector-two {
    margin-bottom: 14px;
  }
  .country-selector-select {
    margin-bottom: 14px;
  }
  .country-selector-add {
    margin-bottom: 10px;
    .country-selected{
      &::before {
        background-position: 0;
        width: 18px;
        right: 29px;
        height: 18px;
        top: 27px;
      }
    }
  }
  .selector-flag {
    border: none;
    width: 158px;
    padding-left: 53px;
    padding-top: 8px;
  }
  .flag {
    width: 70px;
    height: 47px;
    border-radius: 10px;
    margin-right: 31px;
  }
  .selector-close {
    width: 17px;
    height: 17px;
    top: 27px;
    right: 0;
    border-radius: none;
    background-color: inherit;
    background-size: cover;
  }
  .fun-country {
    font-size: 30px;
    font-weight: 700;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .fun-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1d2e5b;
    position: absolute;
    top: 45px;
    left: 521px;
    &::before{
      display: none;
    }
    &::after {
      display: block;
      width: 2px;
      height: 263px;
      top: 12px;
      left: 6px;
    }
  }
  .fun-discription {
    font-size: 20px;
    height: 120px;
    width: 470px;
    margin-bottom: 10px;
  }
  .last-plan {
    margin-bottom: 19px;
  }
  .step-three {
    margin-bottom: 63px;
    .step-instruction {
      padding-top: 12px;
      padding-bottom: 36px;
    }
  }
}
@media (min-width: 1440px) {
  .plan-addition {
    padding: 50px 60px;
    padding-bottom: 76px;
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
  }
  .addition-title {
    margin-left: 70px;
    margin-bottom: 55px;
    font-size: 36px;
  }
  .step {
    padding: 96px 160px 77px 160px;
    border-radius: 60px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 45px;
  }
  .step-two {
    padding-bottom: 102px;
    .step-instruction {
      max-width: 400px;
      margin-bottom: 50px;
    }
    .plan-nav {
      display: flex;
    }
  }
  .country-selected {
    padding-bottom: 47px;
  }
  .step-title {
    margin-bottom: 10px;
    min-width: 576px;
    height: 50px;
    br {
      display: none;
    }
  }
  .plan-nav {
    flex-direction: column;
    position: static;
    min-width: 170px;
    height: auto;
    margin-left: auto;
    margin-left: 239px;
    margin-top: 11px;
  }
  .plan-nav__item {
    margin-bottom: 20px;
    width: auto;
    height: auto;
    letter-spacing: 2px;
    &::before {
      top: 8px;
      left: -43px;
    }
    p {
      display: block;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
  }
  .step-instruction {
    max-width: 576px;
    position: relative;
    top: -30px;
    padding: 0;
    margin: 0;
    margin-bottom: 59px;
    margin-top: -43px;
    border: none;
    &::after {
      content: '';
      width: 1000px;
      height: 2px;
      position: absolute;
      bottom: -22px;
      left: 0;
      background-color: #cbced9;
    }
  }
  .parametr-choice {
    flex-wrap: nowrap;
    align-items: center;
    min-width: 576px;
    justify-content: space-between;
    b {
      width: 195px;
      margin-right: 27px;
      margin-bottom: 0;
    }
    span {
      order: 2;
      margin: 0;
      margin-right: auto;
    }
  }
  .switch {
    width: 180px;
    margin: 0;
    margin-right: 35px;
  }
  .duration {
    order: 1;
  }
  .children-possible {
    order: 2;
    margin-left: auto;
    border: none;
    position: relative;
    top: -80px;
    label {
      margin-top: 20px;
    }
  }
  .duration {
    margin-bottom: 32px;
  }
  .month-swith {
    margin-bottom: 0;
    height: 88px;
    padding: 0;
  }
  .calendar {
    margin-bottom: 32px;
  }
  .calendar-table {
    th {
      vertical-align: middle;
      height: 55px;
      text-align: left;
      padding-left: 15px;
      b {
        display: inline;
      }
    }
    td {
      text-align: left;
      vertical-align: top;
      height: 71px;
      padding-left: 13px;
      padding-top: 13px;
      padding-bottom: 34px;
      position: relative;
      box-sizing: border-box;
    }
  }
  .date-intrance {
    &::before {
      content: "Заезд";
      color: white;
      position: absolute;
      bottom: 12px;
      left: 12px;
    }
  }
  .date-leave {
    &::before {
      content: "Выезд";
      color: white;
      position: absolute;
      bottom: 11px;
      left: 11px;
    }
  }
  .country-selected {
    width: 730px;
  }
  .country-selector-add {
    margin-bottom: 14px;
  }
  .selector-flag {
    padding-left: 85px;
  }
  .country-selector {
    &::after {
      right: 218px;
    }
  }
  .step-two {
    .step-instruction {
      &::before {
        bottom: -466px;
        right: -198px;
        height: 445px;
      }
    }
  }
  .fun-discription {
    width: 696px;
    height: 103px;
    padding-top: 19px;
    padding-left: 19px;
    margin-bottom: 17px;
  }
  .fun-country {
    display: block;
    min-width: 300px;
  }
  .button-wrapper {
    width: 100%;
  }
  .fun-point {
    left: 768px;
    &::after {
      display: block;
      top: 10px;
      left: 6px;
      width: 3px;
      height: 265px;
    }
  }
  .last-plan {
    margin-bottom: 28px;
    .fun-country {
      margin-bottom: 38px;
    }
  }
  .step-three {
    .step-title {
      margin-bottom: 20px;
    }
    .step-instruction {
      margin-top: -53px;
      width: 485px;
      margin-bottom: 35px;
    }
    .plan-nav {
      display: block;
    }
    .flag {
      margin-right: 115px;
    }
  }
}
