.profile-plan {
  background-color: #dfe3f0;
  padding: 25px 25px 45px 25px;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 500;
  color: #1d2e5b;
}
.profile-plan__title {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.profile-plan__item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px 23px 23px 23px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .profile-plan {
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    padding: 54px 75px 100px 75px;
  }
  .profile-plan__item {
    padding: 31px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .profile-plan__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .profile-plan {
    padding: 50px 60px 115px 125px;
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
  }
  .profile-plan__title {
    padding-left: 5px;
  }
  .profile-plan__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 97px;
    padding-top: 32px;
    align-items: baseline;
    padding-left: 41px;
    padding-right: 40px;
  }
}
